* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.p5Canvas {
  display: block;
  margin: 0 auto;
}

/* option {
  background-color: darkslategrey;
  border-radius: 2px;
}

.size-selector {
  position: absolute;
  display: inline-block;
  color: white;
  font-family: sans-serif;
} */